body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background-color: #000;
    color:#fff;
}

button {
    width: 200px;
    height: 35px;
    padding: 2px;
    margin: 2px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: cadetblue;
    color: cornsilk;
    cursor: pointer;
}


.container {
    margin:auto;
    width:70%;
    height:100%;
    padding:10px;
    background-color: 222;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.header {    
    width:100%;
    height:150px;
    padding:5px;    
    border-bottom: 4px solid #fff;    
}

.consentBar {     
    margin:10px;
    margin-right:auto;   
    margin-left: auto;
    width:50%;
    height:auto;
    padding:10px;    
    border: 2px solid #777;
    border-radius: 5px;    
    display: flexbox;
    background-color: lightskyblue;
    color:#333;
}

div.option {
    display:inline-flex;
    padding:5px;    
}

div.option input[type=checkbox] {
    padding: 2px
}

div.option span {
    padding: 2px;
    margin-left: 5px;
}

.hidden {
    display:none;
}

a {
    color:lightskyblue;
    font-weight: 500;
    margin:10px;
}

a:visited {
    color:#fff;
}